<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.vdranik.hw_week1_32">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".A"
            android:label="@string/title_activity_a"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.vdranik.hw_week1_32.D"/>
        </activity>

        <activity
            android:name=".B"
            android:label="@string/title_activity_b"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.vdranik.hw_week1_32.A"/>
        </activity>

        <activity
            android:name=".C"
            android:label="@string/title_activity_c"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.vdranik.hw_week1_32.B"/>
        </activity>

        <activity
            android:name=".D"
            android:label="@string/title_activity_d"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.com.vdranik.hw_week1_32.C"/>

        </activity>
    </application>

</manifest>